calibre-web/config/
jenkins/jenkins_home/
*terraform.tfstate
*terraform.tfstate.backup
terraform/.gcloud/
terraform/.aws/
terraform/.ssh/
*.terraform/
*.terraform.lock.hcl
terraform/compose/docker-compose.yml

# Certificates
*.pub
*.pem

# Environment
*.env